/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Roboto,"system-ui",sans-serif;
} */
#footer{
    display: flex;
    height: 400px;
    width: auto;
    /* border: 1px solid black; */
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: #1F4985;
}
#footer-left-div, #footer-right-div{
    height: 400px;
    width: 25%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    margin-left: 30px;
} 
ul{
    list-style: none;
}
li{
    margin-top: 10px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
#logo_images{
    height: 70px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 20px;
    justify-content: center;
}
#logo_images>img{
    height: 20px;
    width: 8%;
    border-radius: 15px;
}
#logo_images>h3{
    margin: 10px;
}

#footer-middle-div{
    height: 400px;
    width: 50%;
    display: block;
    /* border: 1px solid black; */
    text-align: left;
    text-decoration: none;
}
#middle-1{
    display: flex;
}
#middle-1>div{
    margin: auto;
}
#playstore-logo{
    height: 100px;
    width: 50%;
    margin: auto;
    margin-top: 70px;
    align-items: center;
}
#playstore-logo>img{
    height: 40px;
    width: 30%;
    margin: 10px;
}
#title_name{
    margin-top: 10px;
    font-size: 14px;
}
#footer-copyright{
    height: 30px;
    width: auto;
    background-color:#0A244A ;
    text-align: center;
    /* padding: 10px; */
    font-size: 14px;
    font-family: Roboto,"system-ui",sans-serif;
}

/* Media queries */
@media all and (min-width: 600px) and (max-width: 1200px){
    #title_name{
        font-size: 10px;
    }
    li{
        font-size:10px;
    }
}   

@media all and (min-width: 300px) and (max-width: 600px){
    #title_name{
        font-size: 7px;
    }
    li{
        font-size:5px;
    }
}   